.divider
  border: 0
  margin: 60px 0
  height: 4px
  border-top: #ddd 1px solid
  border-bottom: #ddd 1px solid
  text-align: center
  position: relative
  clear: both
.teamRow
  margin-top: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto
.teamCol
  width: 370px
.chatRow
  margin: auto;
  max-width: 800px;
.chatCol
  width: 370px
.hostCol
  width: 370px
.joinBtn
  cursor: pointer
.connectDialog
  width: 300px
  height: 300px
  margin: 0 auto
  margin-top: 40px
.connectDialog .dTitle
  font-weight: bold
  text-align: center
  width: 100%
  font-size: 40px;
.connectDialog .connectBtn
  width: 100%
