.loginButtonContainer
  position fixed
  top 15px
  right 5px
  width 120px
  height 60px
  z-index: 99999
.loginButtonContainer .navbar-right:last-child
  margin-right: 0
.loginButtonContainer a
  color black
