<template name="about">
<div id="wrapper" style="max-width:1040px;padding-left:20px;padding-right:20px;margin-right:auto;margin-left:auto;padding-top:150px">
  <section class="container aboutc">
    <h2>About <strong>D2Moddin</strong></h2>
    <p class="lead">D2Moddin was created as an unofficial platform for playing Dota 2 custom game modes. <br/>Developed by <a href="http://steamcommunity.com/id/kidovate">ＱUΛИТUM</a> during early 2014.</p>

    <div class="divider" style="margin-bottom:40px">
      <i class="fa fa-star"></i>
    </div>
    <div class="bs-callout text-center nomargin-bottom">
      <h3>
          <a class="btn btn-success btn-lg" style="margin-left:20px" border="0" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=BY9D59PJTKRA4&lc=US&item_name=D2Moddin&item_number=stream&currency_code=USD&bn=PP%2dDonationsBF%3apanel%2d51694185%2dimage%2dc3579668e9e7350a%2d320%2epng%3aNonHosted">Donate</a>
          <a href="mailto:kidovate@gmail.com" style="margin-left:20px" class="btn btn-info btn-lg">Contact Us</a>
      </h3>
    </div>
    <div class="toogle toogle-accordion">
      <div class="toggle active">
        <label>Who hosts D2Moddin game servers?</label>
        <div class="toggle-content">
          <a class="img-thumbnail lightbox pull-left inner">
            <img src="http://i.imgur.com/KwGphvc.png" height="110" alt="" />
          </a>
          <p><b>Masters of Development</b> provides a Colonge server to host European games. They are the developers of Fight or Flight, Element TD, and many other upcoming game modes.</p>
          <p><b>jimmydorry</b> provides an Australia and North American server.</p>
          <p><b>Quantum</b> hosts a US west server.</p>
          <p><b>[gerG] Medowar</b> has provided D2Moddin with two Europe West servers.</p>
          <p><b>BMD</b>, the developer of Reflex, provides a US east server.</p>
          <div class="divider styleColor white">
            <i class="fa fa-leaf"></i>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>Donate a Server</h3>
              <p class="justify">Want to help out D2Moddin? If you have an available Windows server, we would love to add it to the network. Contact us if you would like to help out the site!</p>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4"><!-- right -->
              <h3>Donate Resources</h3>
              <p class="justify">Donations will go towards future development costs and additional server capacity. We welcome donations, and while they do not yet allow for any special privilege on the site, they are always appreciated.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="toggle">
        <label>How does the manager work?</label>
        <div class="toggle-content">
          <div class="row">
            <div class="col-md-4">
              <h3>The Launcher</h3>
              <p class="justify">D2MPLauncher downloads the D2Moddin manager to a temporary directory on your computer. The launcher then runs the D2Moddin manager, which minimizes to your Windows tray. It will either update your existing manager, launch it if it is up to date, or download it for the first time.</p>
            </div>
            <div class="col-md-4">
              <h3>The Manager</h3>
              <p class="justify">The D2Moddin manager downloads local files (models, textures, and UIs) to your Dota 2 addons directory. It does not modify any Dota 2 files in any way, does not require admin privileges, and is designed to be temporary.</p>
            </div>
            <div class="col-md-4"><!-- right -->
              <h3>Uninstalling</h3>
              <p class="justify">The manager will automatically close 60 seconds after you close D2Moddin. If you wish to remove the manager and all mods from your system, you can simply right click the icon in your system tray and click uninstall. This will delete the manager and all addons.</p>
            </div>
          </div>
          <p class="lead padding30 text-center">The source code for the launcher and manager are on <a href="https://github.com/kidovate/d2moddinclient">GitHub</a>.</p>
        </div>
      </div>
      <div class="toggle">
        <label>How do custom game modes work?</label>
        <div class="toggle-content">
          <p>Dota 2 custom game modes are created in the same way the Dota 2 seasonal game modes were created. Frostivus, the Year Beast, etc were all created as Dota 2 addons. Dota 2 searches for addons in the "addons" directory in the Dota 2 install directory. Custom game mode files are thus installed simply by dropping the mod directory into the addons directory. The manager does this for you automatically.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
</template>
