<template name="admin">
<div id="wrapper">
  <section class="container text-center" style="margin-top: 30px">
    <h1 class="text-center">
      <strong>Admin</strong> Panel<br/>
    </h1>
  </section>

  <div class="adminRow">
    <div class="col-sm-6 adminCol niceShadow">
      <div class="tileTitle">
        Servers
      </div>
      <table class="table table-striped">
        <tbody class="servt">
        {{#each servers}}
        <tr class={{disabledClass}}><td>{{ip}}</td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 adminCol niceShadow">
      <div class="tileTitle">
        Pending Lobbies
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each pendLobbies}}
        <tr><td><i class="fa fa-ban plbSdn"></i>{{name}}</td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 adminCol niceShadow">
      <div class="tileTitle">
        Playing Lobbies
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each playingLobbies}}
        <tr><td><i class="fa fa-ban albSdn"></i>{{name}}</td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 adminCol niceShadow">
      <div class="tileTitle">
        Server Addons
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each serverAddons}}
        <tr><td>{{name}} - {{version}} - {{bundle}}</td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 adminCol niceShadow">
      <div class="tileTitle">
        Settings
      </div>
      <button class="btn btn-danger disableSignups">Disable/Enable Signups</button>
    </div>
  </div>
</div>
</template>
<template name="adminServer">
<div id="wrapper">
  <section class="container text-center" style="margin-top: 30px">
    <h1 class="text-center">
      <strong>Server</strong> Controls<br/>
      <span class="subtitle" style="margin-top:10px">Controls for the server {{ip}}</span>
      <a class="btn btn-link" href={{pathFor 'admin'}}>Admin Panel</a>
    </h1>
  </section>
  <div class="adminRow">
    <div class="col-sm-6 adminCol niceShadow">
      <div class="tileTitle">
        General Controls
      </div>
      <div style="margin-top:15px;margin-bottom:15px">
        <button class="btn btn-info rsBtn">Kill Servers and Restart</button>
        <button class="btn btn-danger sdBtn" style="float:right">Shutdown</button>
        <br/>
        <button class="btn btn-success dbBtn">{{#if enabled}}Disable{{else}}Enable{{/if}}</button>
      </div>
    </div>
    <div class="col-sm-6 adminCol niceShadow" style="min-height: 92px;">
      <div class="tileTitle">
        Active Lobbies
      </div>
      <table class="table table-striped">
        <tbody class="servt">
        {{#each activeLobbies}}
        {{#with resolvLob}}
        <tr><td><i class="fa fa-ban sdLob"></i>{{name}}</td></tr>
        {{/with}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</template>
