
<template name="home">
<div id="fullHomeBack" style="background: url('http://i.imgur.com/qxe8OwM.jpg') no-repeat">
</div>
<div class="container titleContainer">
  <div class="row-fluid">
    <div class="span12">
      <div class="description-texts">
        <h1 class="site-slogan"><span>CUSTOM GAME MODE PLATFORM</span></h1>

        <p class="app-description">
        <span>Play community game modes easily with your friends.</span><br>
        <span>Stable, extendable server network and a platform for future developers.</span><br>
        <span>Simple and easy to get started playing/developing game modes.</span><br>
        <span><a href="http://steamcommunity.com/id/kidovate">Created by ＱUΛИТUM.</a> Game servers provided by MoD and <a href={{pathFor 'about'}}>others.</a></span>
        </p>
        <a class="btn btn-success" style="font-size:16px" href="{{pathFor 'modlist'}}">Start Playing!</a>
      </div>
    </div>
  </div>
</div>
</template>
