
<template name="home">
<div id="fullHomeBack" style="pointer-events: none">
</div>
<div class="container titleContainer">
  <div class="row-fluid">
    <div class="span12">
      <div class="description-texts">
        <h1 class="site-slogan"><span>DOTA 2 MODDING PLATFORM</span></h1>

        <p class="app-description">
        <span>Play mods like Fight or Flight with your friends.</span><br>
        <span>Ranked matchmaking and a platform for future mod developers.</span><br>
        <span>Super easy to set up and play a match.</span><br>
        </p>
      </div>
    </div>
  </div>
</div>
</template>
