
<template name="home">
<div id="fullHomeBack" style="background: url('{{backUrl}}') no-repeat">
</div>
<div class="container titleContainer">
  <div class="row-fluid">
    <div class="span12">
      <div class="description-texts">
        <h1 class="site-slogan"><span>DOTA 2 MODDING PLATFORM</span></h1>

        <p class="app-description">
        <span>Play custom game modes like Pudge Wars and Fight or Flight with your friends.</span><br>
        <span>Stable, extendable server network and a platform for future mod developers.</span><br>
        <span>Simple and easy to set up and play a custom game mode match.</span><br>
        <span><a href="http://steamcommunity.com/id/kidovate">Created by ＱUΛИТUM.</a> Servers provided by Masters of Development and <a href={{pathFor 'about'}}>others.</a></span>
        </p>
        <a class="btn btn-success" style="font-size:16px" href="{{pathFor 'modlist'}}">Start Playing!</a>
      </div>
    </div>
  </div>
</div>
</template>
