<template name="lobby">
<div id="wrapper">
  <section class="container text-center" style="margin-top: 30px;">
    <h1 class="text-center">
      <strong>{{name}}</strong>
      <span class="subtitle">{{status}}</span>
    </h1>
  </section>
  <div class="teamRow">
    <div class="col-md-6 teamCol">
      <div style="text-align: center; font-weight: bold">
        Radiant
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each radiant}}
        <tr><td>{{name}}</td></tr>
        {{/each}}
        {{#each emptySlotR}}
        <tr><td><a class="joinBtn">Take Slot</a></td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-6 teamCol">
      <div style="text-align: center; font-weight: bold">
        Dire
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each dire}}
        <tr><td>{{name}}</td></tr>
        {{/each}}
        {{#each emptySlotD}}
        <tr><td><a class="joinBtn">Take Slot</a></td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</template>
