<template name="lobby">
<div id="wrapper">
  <section class="container text-center" style="margin-top: 30px;">
    <h1 class="text-center">
      <strong>{{lobby.name}}</strong>
      <span class="subtitle" style="margin-top:10px">{{status}}</span>
    </h1>
  </section>
  <div class="teamRow">
    <div class="col-md-6 teamCol">
      <div style="text-align: center; font-weight: bold">
        Radiant
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each lobby.radiant}}
        <tr><td>{{name}}</td></tr>
        {{/each}}
        {{#each emptySlotR}}
        <tr><td><a class="joinBtn">Take Slot</a></td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-6 teamCol">
      <div style="text-align: center; font-weight: bold">
        Dire
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each lobby.dire}}
        <tr><td>{{name}}</td></tr>
        {{/each}}
        {{#each emptySlotD}}
        <tr><td><a class="joinBtn">Take Slot</a></td></tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="chatRow">
    <div class="col-md-6 chatCol">
      <div style="text-align: center; font-weight: bold">Chat</div>
      <textarea style="width:100%;height:150px;resize:none" class="form-control chatBox" readonly="readonly">
      </textarea>
      <input style="width: 100%;margin-top:5px" class="form-control" id="chatInput"/>
    </div>
  </div>
</div>
</template>
