<template name="modDetail">
{{#with mod}}
<div id="modDetail" style="background:url('{{spreadimage}}') no-repeat">
</div>
<div class="container titleContainer">
  <div class="row-fluid">
    <div class="span12">
      <div class="description-texts">
        <h1 class="site-slogan"><span style="line-height:5px">{{fullname}}</span></h1>
        <p class="app-description">
        {{#each features}}
        <span>{{this}}</span><br>
        {{/each}}
        </p>
        <a class="btn btn-info" href="{{website}}" target="_blank">Author Website</a>
        <a class="btn btn-success" disabled={{notPlayable}} href="{{playNow}}">{{#if playable}}Play Now!{{else}}Not Available{{/if}}</a>
      </div>
    </div>
  </div>
</div>
{{/with}}
</template>
