<template name="modlist">
<div id="wrapper">
  <section class="container text-center" style="margin-top: 30px;">
    <h1 class="text-center">
      <strong>Available</strong> Mods
      <span class="subtitle">PICK A MOD TO PLAY!</span>
    </h1>
  </section>
  <div id="mods">
    <section class="container">
      <div class="row">
        {{#each mods}}
        <div class="col-sm-6 col-md-4">
          <div class="item-box fixed-box">
            <figure>
              <a class="item-hover" href="{{modPath}}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>MOD</strong> DETAIL
                </span>
              </a>
              <a href="{{lobbyPath}}" class="btn btn-primary go_to_mod"><i class="fa fa-search"></i> FIND A GAME</a>
              <img class="img-responsive" src="{{thumbnail}}" width="260" height="260" alt="">
            </figure>
            <div class="item-box-desc">
              <h4><strong>{{fullname}}</strong></h4>
              <small class="styleColor">{{subtitle}}</small>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </section>
  </div>
</div>
</template>
