<template name="navbar">
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Dota2 Mod Platform</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="{{activeRouteClass 'home'}}"><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="{{activeRouteClass 'user'}}"><a href="{{pathFor 'user'}}">User</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="{{activeRouteClass 'controlpanel'}}"><a href="{{pathFor 'controlpanel'}}">Control Panel</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{ loginButtons }}
    </ul>
  </div>
</div>

</template>

