<template name="userList">
<div id="wrapper">
  <section class="container text-center" style="margin-top: 30px;">
    <h1 class="text-center">
      <strong>Users</strong> List<br/>
      <a class="btn btn-link" href={{pathFor 'admin'}}>Admin Panel</a>
    </h1>
  </section>
  <div id="mods" class="resultsTable">
    <section class="container">
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width:150px">ID</th>
              <th>Name</th>
              <th>SteamID</th>
              <th>AuthGroups</th>
              <th>Ban</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
          {{#each users}}
          <tr class={{userClass}}>
            <td>{{_id}}</td>
            <td>{{profile.name}}</td>
            <td>{{#with services.steam.id}}<a target="_blank" href="https://steamrep.com/?id={{this}}">{{this}}</a>{{/with}}</td>
            <td>{{#each authItems}}{{this}} {{/each}}</td>
            <td><a class="btn btn-danger banBtn">Toggle Ban</a></td>
            <td><a class="btn btn-danger delBtn">Delete</a></td>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
</template>
